# DML (Data Manipulation Language, ë°ì´í„° ì¡°ì‘ì–´)

### Connect to DataBase (MySQL)

In [1]:
%load_ext sql

%sql mysql+pymysql://Choonsik:malrangcow@localhost:3306/sqld

### INSERT
í…Œì´ë¸”ì— ë°ì´í„°ë¥¼ ì…ë ¥/ì¶”ê°€í•˜ëŠ” ëª…ë ¹ì–´
PKë‚˜ NOT NULL ì œì•½ì¡°ê±´ì´ ê±¸ë¦° ì»¬ëŸ¼ì—ëŠ” NULLê°’ì„ ë„£ì„ ìˆ˜ ì—†ìœ¼ë¯€ë¡œ ì£¼ì˜

### INSERT INTO tablename (columnname1, columnname2, ...) VALUES (data1, data2, ...);

In [2]:
%%sql

CREATE TABLE user (
    id INT PRIMARY KEY,
    email VARCHAR(40),
    password VARCHAR(30)
);

INSERT INTO user (id, email, password) 
VALUES (1, 'malrangcow00@gmail.com', 'malrangcow')
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.
1 rows affected.

[]

### INSERT INTO tablename VALUES (data1, data2, ...);

In [3]:
%%sql

INSERT INTO user
VALUES (2, 'choonsik@kakaofriends.com', 'choonsik')
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
1 rows affected.

[]

If id is AUTO_INCREMENT, you don't need to insert id.
but cannot omit column name.

In [4]:
%%sql

CREATE TABLE new_user (
    id INT PRIMARY KEY AUTO_INCREMENT,
    email VARCHAR(40),
    password VARCHAR(30)
);

INSERT INTO new_user (email, password) 
VALUES ('malrangcow00@gmail.com', 'malrangcow')
;

INSERT INTO new_user (email, password)
VALUES ('choonsik@kakaofriends.com', 'choonsik')
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.
1 rows affected.
1 rows affected.

[]

### UPDATE
í…Œì´ë¸”ì— ìˆëŠ” ë°ì´í„°ë¥¼ ìˆ˜ì •í•˜ëŠ” ëª…ë ¹ì–´
WHEREì ˆì„ ì‚¬ìš©í•˜ì—¬ ì¡°ê±´ì„ ê±¸ì–´ì£¼ì§€ ì•Šìœ¼ë©´ ëª¨ë“  ë°ì´í„°ê°€ ìˆ˜ì •ëœë‹¤.

### UPDATE tablename SET columnname1 = data1, columnname2 = data2, ... WHERE condition;

In [5]:
%%sql

UPDATE user
SET 
email = 'choonsik00@kakaofriends.com',
password = 'malrangcow'
WHERE id = 2
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
1 rows affected.

[]

### DELETE
í…Œì´ë¸”ì— ìˆëŠ” ë°ì´í„°ë¥¼ ì‚­ì œí•˜ëŠ” ëª…ë ¹ì–´
WHEREì ˆ ì¡°ê±´ì´ ì—†ìœ¼ë©´ ëª¨ë“  ë°ì´í„°ê°€ ì‚­ì œë˜ë¯€ë¡œ ë°˜ë“œì‹œ ì£¼ì˜ !
ì‚­ì œí•˜ë ¤ëŠ” ì˜ë„ë¼ë©´ ì‹œìŠ¤í…œ ë¶€í•˜ ì¸¡ë©´ì—ì„œ TRUNCATE TABLE(DDL)ì„ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ ì¢‹ë‹¤.

### DELETE FROM tablename WHERE condition;

In [6]:
%%sql

DELETE FROM user
WHERE id = 2
;

DELETE FROM new_user
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
1 rows affected.
2 rows affected.

[]

### MERGE
ë‘ ê°œì˜ í…Œì´ë¸”ì„ í•˜ë‚˜ë¡œ í•©ì¹˜ëŠ” ëª…ë ¹ì–´
í…Œì´ë¸”ì— ìƒˆë¡œìš´ ë°ì´í„°ë¥¼ ì…ë ¥í•˜ê±°ë‚˜ ì´ë¯¸ ì €ì¥ë˜ì–´ ìˆëŠ” ë°ì´í„°ì— ëŒ€í•œ ë³€ê²½ ì‘ì—…ì„ í•œ ë²ˆì— ì²˜ë¦¬
&rarr; ì¦‰, INSERT, UPDATE, DELETEë¥¼ í•¨ì¶•ì‹œí‚¨ ì‘ì—…ì´ë‹¤.
ğŸ˜¿ MySQLì€ MERGE ëª…ë ¹ì–´ë¥¼ ì§€ì›í•˜ì§€ ì•ŠëŠ”ë‹¤.

```sql
MERGE
INTO target_table alias
    USING source_table alias
    ON condition
    WHEN MATCHED THEN
        UPDATE 
            SET columnname1 = newdata1, columnname2 = newdata2, ...
    WHEN NOT MATCHED THEN
        INSERT (columnname1, columnname2, ...)
        VALUES (data1, data2, ...);
```

also can update and insert partial data by using WHERE condition in SELECT statement.

### USING (SELECT * FROM source_table WHERE condition) alias

by the case, you can choose WHEN MATCHED or WHEN NOT MATCHED statement and use one of them.

In [7]:
%%sql

INSERT INTO new_user (email, password)
SELECT email, password FROM user
ON DUPLICATE KEY UPDATE email = VALUES(email), password = VALUES(password)
;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
1 rows affected.

[]

PK AUTO_INCREMENT !!

In [8]:
%%sql

DROP TABLE new_user;

DROP TABLE user;

 * mysql+pymysql://Choonsik:***@localhost:3306/sqld
0 rows affected.
0 rows affected.

[]